@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

html {
    overflow-x: hidden !important;
}
body {
    background-color: black;
    color:white !important;
    font-family: 'Roboto Mono', monospace;
    
}
#main-page {
    display: none;
}
.var-highlight {
color: #26c961;
font-weight: bolder;
}

.string-highlight {
    color: #26c961;
    font-weight: bolder;
}

.warning {
    color: #d0883c;
}

.error
{
    color: #db2644;
}

.info
{
    color: #097bbf;
}

.typewriter {
    font-size: 1.2em;
    margin: 0;
    font-family: "Courier New";
    font-weight: bold;
    color: white;
}
.typewriter::after {
    content: url('./assets/cursor.png');
    animation: blink 500ms linear infinite alternate;
}
footer {
    background-color: #0066cc; 

}
.col-sm-6 {
    padding: 0 !important;
}
.row {
    padding-left: 50px;
    width: 90%;
}

.exp-adv {
    color: greenyellow;
    font-size: 1.3rem;
}
.exp-inter {
    color: orange;
    font-size: 1.3rem;

}
.exp-beg  {
    color: rgb(167, 0, 0);
    font-size: 1.3rem;

}
.details {
    padding-left: 30px;
}
ul {
    list-style: none;   
    padding: 0;
    margin: 0;
}
li {
    padding: 20 10 15 15;
    color: grey;
    font-size: 1.2rem;
}

.navbar {
    background-color:rgb(29, 29, 29);
    position: fixed;
    width: 22%;
    height: 100%;
    left: 50px;
    top:0;
    bottom:0;
    padding: 0 !important;
}


.nav-list-title {
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
} 
.nav-title {
    position: absolute;
    top: 10px;
    width: 100%;   
}
.nav-dropdown {
    background-color: rgb(51,51,51);
    font-size: 1rem; 
    height: 40px;
    padding-top: 5px;
    padding-left: 15px;
}
.acad-title {
    color: rgb(151, 201, 77);
}
.branch {
    color:rgb(211, 143, 17);
} 
.marks {
    padding-left: 30px;
}
.opt {
    padding: 4% 17%;
}
.opt:hover {
    background-color: rgb(51,51,51);
    cursor: pointer;
}

.header {
    background-color: rgb(51,51,51);
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 40px;

}
.tab {
    background-color:black;
    width: 50%;
    height: 40px;
    padding-left: 34%;
    padding-top: 0.8%;
    position: fixed;
    top: 0;
    left: 0;
}

.tab ::after{
    content: "•";
    padding-right: 8px;
    color: blue;
}

.main-area {
    padding-left: 30%;
    padding-top: 2%;
    margin-top: 0;
    padding-right: 0;
    padding-bottom: 5%;
}
.details {
    z-index: -1;
} 
.exp-type {
    font-size: 80%;
}
@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#projects {
    display: none;
}
#academics {
    display: none;
}
#contact {
    display: none;
}

#npm-install {
    margin-left: 6%;
}

footer {
    position: fixed;
    bottom: 0;
    right:0;
    left:0;
    font-size: 0.8rem;
    padding: 4px;
}

.footer-items {
    padding-right: 10px;
}

.sidebar {
    background-color:rgb(51,51,51);
    position: fixed;
    width: 50px;
    height: 100%;
    left: 0;
    top:0;
    bottom:0;
}
@media only screen and (max-width: 900px) {
    #typewriter {
        font-size: 1em;
    }
    #npm-install
    {
        margin-left: 0;
        font-size: 0.5em;
    }
    .navbar {
        background-color:rgb(29, 29, 29);
        position: fixed;
        width: 100%;
        height: 100%;
        left: 50px;
        top:0;
        bottom:0;
        padding: 0 !important;
    }
    .main-area {
        padding-left: 20%;
        height: 140%;
        padding-top: 2%;
        margin-top: 0;
        padding-right: 0;
        padding-bottom: 10%;
    }
    .tab {
        background-color:black;
        width: 75%;
        height: 40px;
        padding-left: 25%;
        padding-top: 2%;
        position: fixed;
        top: 0;
        left: 0;
    }
    .row {
        padding-left: 40px;
    }
    .details {
        padding: 0; 
    }
}
